ion-tab-bar {
  --background: white;
  --border: none;
}
ion-tab-button {
  --color: #94a3b8;
  --color-selected: #0df2cc;
}
ion-tab-button.tab-selected ion-icon {
  color: #0df2cc;
}
ion-tab-button.tab-selected ion-label {
  color: #0df2cc;
  font-weight: bold;
}
.custom-fab {
  --background: #0df2cc;
  --background-activated: #0bcda8;
  --background-hover: #0bcda8;
  --border-radius: 50%;
  --box-shadow: 0 10px 15px -3px rgba(13, 242, 204, 0.3);
  border: 4px solid white;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  transform: translateY(-10px);
}
