<ion-tabs>
  <ion-tab-bar slot="bottom" class="bg-white border-t border-slate-100 px-2 py-1 shadow-[0_-4px_10px_rgba(0,0,0,0.05)] relative">
    <ion-tab-button tab="home" class="text-slate-400">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label class="text-[10px] font-bold mt-1">INICIO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallet" class="text-slate-400">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label class="text-[10px] font-bold mt-1">CARTERA</ion-label>
    </ion-tab-button>

    <!-- Placeholder for the floating button space -->
    <ion-tab-button disabled="true" class="opacity-0">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="purchases" class="text-slate-400">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label class="text-[10px] font-bold mt-1">TIENDA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" class="text-slate-400">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="text-[10px] font-bold mt-1">PERFIL</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" class="mb-4">
    <ion-fab-button class="custom-fab">
      <ion-icon name="add-outline" class="text-white text-3xl"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-tabs>
