ion-content {
  --background: #f8fafc;
}

input {
  outline: none;
}

input:focus {
  border-color: #34d399;
  box-shadow: 0 0 0 2px rgba(52, 211, 153, 0.2);
}

.text-primary {
  color: #34d399;
}

.hover\:text-brand-dark:hover {
  color: #10b981;
}
